In [2]:
import pandas as pd
import os

# Define the file path
# Assuming the notebook is in the root of the repository
file_path = r"(A) Data/Need To Vote/News Title_2000 Data.csv"

# If running locally and the path isn't found, try the absolute path (commented out by default or handled via check)
absolute_path = r"c:\Users\Asus\Documents\GitHub\News-Scrapping\(A) Data\Need To Vote\News Title_2000 Data.csv"

if os.path.exists(file_path):
    load_path = file_path
else:
    load_path = absolute_path
    
print(f"Loading data from: {load_path}")

df = pd.read_csv(load_path)

# Display first 5 rows
display(df.head())

Loading data from: (A) Data/Need To Vote/News Title_2000 Data.csv

                                           News_Data Labelling
0                                                NaN       NaN
1  Dampak Serangan Drone Rusia di Kramatorsk Ukraina   Neutral
2                                                NaN       NaN
3  Warga Serang Tertipu Jasa Pembuatan SKCK di Fa...  Negative
4                                                NaN       NaN

In [3]:
# Check for null values before dropping
print("Shape before dropping NaNs:", df.shape)
print("Null values counts:\n", df.isnull().sum())

# Drop rows with NaN values
df = df.dropna()

# Verify after dropping
print("\nShape after dropping NaNs:", df.shape)
print("Null values counts:\n", df.isnull().sum())

Shape before dropping NaNs: (3920, 2)
Null values counts:
 News_Data    1960
Labelling    1960
dtype: int64

Shape after dropping NaNs: (1960, 2)
Null values counts:
 News_Data    0
Labelling    0
dtype: int64

In [4]:
# Check unique values in 'Labelling' column before replacement
print("Unique values before replacement:", df['Labelling'].unique())

Unique values before replacement: ['Neutral' 'Negative' 'Positive']

In [5]:
# Define the mapping dictionary
label_mapping = {
    'Negative': -1,
    'Neutral': 0,
    'Positive': 1
}

# Replace the values
df['Labelling'] = df['Labelling'].replace(label_mapping)

# Verify the replacement
print("Unique values after replacement:", df['Labelling'].unique())
display(df.head())

Unique values after replacement: [ 0 -1  1]

                                           News_Data  Labelling
1  Dampak Serangan Drone Rusia di Kramatorsk Ukraina          0
3  Warga Serang Tertipu Jasa Pembuatan SKCK di Fa...         -1
5  Asih dan Warga Aceh Tamiang Semringah Wakapolr...          1
7  Puan Pastikan DPR Terima Masukan Terkait Perke...          0
9  Video: 2 Mobil Wisatawan Tersesat gegara Googl...         -1

In [6]:
# Save the processed data to a new CSV file to preserve the original
output_path = load_path.replace(".csv", "_Labelled.csv")
df.to_csv(output_path, index=False)

print(f"File saved to: {output_path}")

File saved to: (A) Data/Need To Vote/News Title_2000 Data_Labelled.csv